.itemDescription {
  font-size: 1rem;
}
.product_item {
  img {
    padding-top: 2rem;
    height: 200px;
    width: 200px;
  }
}

.paper_item {
  height: 400px;
  width: 220px;
  margin: 5px 5px 5px 5px;
}
