.paper_item {
  height: 400px;
  width: 220px;
  margin-bottom: 10px;
  margin-bottom: 6px;

  .box_item {
    img {
      padding-top: 2rem;
      height: 200px;
      width: 200px;

      .itemDescription {
        font-size: 1rem;
      }
    }
  }
}
