.item_detail__container {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;

  .paper_item {
    height: 490px;
    width: 220px;
    margin-bottom: 10px;
    margin-bottom: 6px;
    text-align: center;

    .box_item {
      img {
        padding-top: 2rem;
        height: 200px;
        width: 200px;
      }

      .itemName {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 1px;
        padding-left: 1px;
      }

      .itemDescription {
        font-size: 1rem;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .volver__btn {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
