.itemDescription {
  font-size: 1rem;
}
.item_detail {
  img {
    padding-top: 2rem;
    height: 220px;
    width: 220px;
  }
  p {
    padding-top: 2px;
    width: 220px;
    font-size: 1rem;
  }
}
