.maintitle__container{
    margin: 40px auto;
    text-align: center;    
    color: lightcyan;

    h1 {        
        font-size: 1.2rem;
        font-family: 'Rubik Dirt', Tahoma, Geneva, Verdana, sans-serif;
    }

    h2 {
        color: lightgreen;
        font-size: 1.2rem;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}