.checkout__container {
  margin: 40px auto;
  max-width: 900px;
  color: lightcyan;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  h3 {
    padding-top: 15px;
    padding-bottom: 25px;
    text-align: end;
    max-width: 360px;
  }

  hr {
    margin-bottom: 10px;
  }
  .list_item_text {
    color: black;
  }

  .form__container {
    max-width: 600px;
    display: flex;
    text-align: right;
    justify-content: space-between;

    .submit_btn__container {
      padding-top: 10px;
    }
  }
  .volver_btn__container {
    padding-top: 20px;
  }
}
