.itemlist__container {
  margin: 40px auto;
  max-width: 900px;
  color: lightcyan;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  h3 {
    padding: 30px;
  }
}
